*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    background-color:#00CCBF;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}
.navbar-link{
    align-items: center;
    display: flex;
    width: 90%;
}
nav a{
    position: relative;
    padding: 10px;
}
nav .nav-item a::before{
    content: " ";
    width: 0%;
    height: 4px;
    background-color:#00665F;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
} 
nav a:hover::before{
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
}
.container{
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center
}
.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/StockSnap_TNKLX6MUWC.jpg");
    background-size :cover;
    background-position: fixed;
}
.group{
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 65%;
    margin-left: 10%;
}

.btnSaibaMais{
    align-items: center;
    padding: 15px;
    background-color: #00CCBF;
    text-decoration: none;
    border-radius: 5%;
    border-style: none;
}
.btnSaibaMais a{
    text-decoration: none;
    color: black;
}
.btnSaibaMais a:hover{
    color: #FF5F5D;
}

@media only screen and (max-width: 600px) {
    .botom{
        
    }
    .logo{      
    }

  }