.navbar {
    background-color: #00CCBF;
    height: 69px;
}

.navbar-nav .nav-link {
    color: black;
    position: relative;
}

nav .nav-item a::before {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #00665F;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

body {
    background-image: url(fundologin.jpeg); 
    background-repeat: no-repeat;
}

figure{
    margin: 0;
}
.logoTipo {
    width: 69px;
}

.form-control{
    width: 96%
}

.login{
    margin-left: 70%;
    position: relative;
    top: 8rem;
}

.btn{
    position: relative;
    left: 80.5%;
    top: 150px;
    background-color: #00CCBF;
    font-family: 'Arimo', sans-serif;;
}

nav .nav-item a::before {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #00665F;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}